/* Common CSS  Starts*/
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

:root {
    --clr-primary: #FD6E0A;
    --clr-secondary: #FFF8F3;
    --clr-dark-01: #181818;
    --clr-dark-02: #474747;
    --clr-dark-03: #757575;
    --clr-dark-04: #A3A3A3;
    --clr-dark-05: #D1D1D1;
    --clr-dark-06: #E8E8E8;
    --clr-dark-07: #F3F3F3;
    --clr-white: #FFFFFF;

    --ff-primary: "Open Sans", sans-serif;
}

/* Box sizing rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Box sizing rules */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Remove default margin */
body,
h1,
h2,
h3,
h4,
p,
figure,
blockquote,
dl,
dd {
    margin: 0;
    padding: 0;
}

/* Remove list styles on ul, ol elements with a list role, which suggests default styling will be removed */
ul[role='list'],
ol[role='list'] {
    list-style: none;
}

/* Set core root defaults */
html:focus-within {
    scroll-behavior: smooth;
}

/* Set core body defaults */
body {
    min-height: 100vh;
    text-rendering: optimizeSpeed;
    line-height: 1.5;
}

/* A elements that don't have a class get default styles */
a {
    text-decoration: none;
}

ul, ol{
    list-style: none;
    margin: 0;
    padding: 0;
}

/* Make images easier to work with */
img,
picture {
    max-width: 100%;
    display: block;
}
/* Inherit fonts for inputs and buttons */
input,
button,
textarea,
select {
    font: inherit;
}

/* Remove all animations, transitions and smooth scroll for people that prefer not to see them */
@media (prefers-reduced-motion: reduce) {
    html:focus-within {
        scroll-behavior: auto;
    }

    *,
    *::before,
    *::after {
        animation-duration: 0.01ms !important;
        animation-iteration-count: 1 !important;
        transition-duration: 0.01ms !important;
        scroll-behavior: auto !important;
    }
}
.cmn-Btn {
    font-family: var(--ff-primary);
    padding: 18px 35px;
    font-weight: 700;
    font-size: 20px;
    color: var(--clr-white);
    background: var(--clr-primary);
    border: var(--clr-primary) 1px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.cmn-Btn:hover{
    background: transparent;
    color: var(--clr-primary);
}

/* Navbar CSS Starts */
.navbar {
    width: 100%;
    padding-top: 50px;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}

.navbar .navbar-nav {
    display: flex;
    gap: 70px;
    margin-right: 50px;
}

.navbar .navbar-nav .nav-item .nav-link{
    color: var(--clr-dark-02);
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 20px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}

.navbar .navbar-nav .nav-item .nav-link:hover{
    color: var(--clr-dark-03);
}
/* Navbar CSS Ends */
/* Banner CSS Starts */
#banner{
    padding-top: 297px;
    padding-bottom: 184px;
    background: var(--clr-secondary);
    position: relative;
}

#banner .textArea h3{
    font-family: var(--ff-primary);
    font-weight: 600;
    font-size: 45px;
    color: var(--clr-dark-02);
    margin-bottom: 5px;
}
#banner .textArea h1{
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: 85px;
    margin-bottom: 20px;
    color: var(--clr-dark-01);
}
#banner .textArea p{
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 18px;
    line-height: 30px;
    margin-bottom: 30px;
    color: var(--clr-dark-03);
    width: 585px;
}
#banner .btnArea{
    display: flex;
    gap: 30px;
}

#banner .btnArea a{
    display: inline-block;
}

#banner .btnArea a i{
    margin-right: 10px;
}

#banner .bannerCircle{
    position: absolute;
    right: 0;
    bottom: 0;
}
#banner .bannerPerson{
    position: absolute;
    right: 38px;
    bottom: 0;
}
.pt-100{
    padding-top: 100px;
}
.mt-100{
    margin-top: 100px;
}
.smn_Btn{
    font-family: var(--ff-primary);
    padding: 18px 35px;
    font-weight: 700;
    font-size: 20px;
    color: var(--clr-primary);
    border: var(--clr-primary) 1px solid;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    transition: .3s;
    -webkit-transition: .3s;
    -moz-transition: .3s;
    -ms-transition: .3s;
    -o-transition: .3s;
}
.smn_Btn:hover{
 background-color: var(--clr-primary);
 color: var(--clr-white);
}

#banner .extraHeading{
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: 100px;
    letter-spacing: 33px;
    color: #18181825;
    transform: rotate(270deg);
    -webkit-transform: rotate(270deg);
    -moz-transform: rotate(270deg);
    -ms-transform: rotate(270deg);
    -o-transform: rotate(270deg);
    position: absolute;
    bottom: 360px;
    left: -350px;
}
/* Banner CSS Ends */
/* About CSS Starts */
#aboutUs{
    padding-top: 130px;
}

.aboutWrapper{
    background: var(--clr-secondary);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    padding: 131px 0;
}
.cmnTitle{
    margin: 0 auto;
    text-align: center;
    max-width: 827px;
}
.cmnTitle h2{
    margin-bottom: 30px;
}
.cmnTitle p{
    margin-bottom: 30px;
}
.aboutContact{
    margin-top: 30px;
    text-align: center;
}

.aboutContact ul{
    display: flex;
    justify-content: space-around;
}

.aboutContact ul li{
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 20px;
    color: var(--clr-dark-03);
    line-height: 30px;
}

.aboutContact ul li h4{
    font-weight: 700;
    color: var(--clr-dark-02);
}
/* About CSS Ends */
/* Portfolio CSS Starts */
#portfolio{
    padding-top: 131px;
}

.portWrapper .cmnTitle p{
    width: 909px;
}

.portItems{
    margin-top: 50px;
    display: flex;
    justify-content: space-between;
}

.portItems .item{
    padding: 30px 33px 30px 30px;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    box-shadow: 6px 0px 50px 0px rgba(0,0,0,0.1);
}

.portItems .item img{
    margin-bottom: 30px;
}

.portItems .item h4{
    margin-bottom: 20px;
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: 20px;
    color: var(--clr-dark-01);
}

.portItems .item p{
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 16px;
    color: var(--clr-dark-03);
    width: 201px;
}
/* Portfolio CSS Ends */


/* Resume CSS Starts */
#resume{
    padding: 131px 0;

}
.resumeWrapper .btnArea{
    display: flex;
    justify-content: center;
    margin-top: 71px;
}
.resumeWrapper .btnArea a i{
    margin-right: 10px;
}
.resumeContent{
    margin-top: 113px;
}
.resumeContent h3{
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: 30px;
    color: var(--clr-dark-02);
    margin-bottom: 30px;
}


.educationWrapper{
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.resumeItem{
    padding-bottom: 30px;
    border-bottom: solid var(--clr-dark-05) 1px;
}

.resumeItem:last-child{
    border: none;
}

.resumeItem h4{
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: 25px;
    color: var(--clr-dark-02);
    margin-bottom: 10px;
}

.resumeItem h5{
    font-family: var(--ff-primary);
    font-weight: 600;
    font-size: 20px;
    color: var(--clr-dark-03);
    margin-bottom: 20px;
}

.resumeItem p{
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--clr-dark-03);
    width: 511px;
}
/* Resume CSS Ends */
/* Footer CSS Starts */
footer{
    padding: 130px 0;
    background: var(--clr-secondary);
}

.footerWrapper h2{
    font-family: var(--ff-primary);
    font-weight: 700;
    font-size: 35px;
    color: var(--clr-dark-01);
}

.footerText p{
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
    color: var(--clr-dark-02);
    margin: 20px 0 30px 0;
    width: 562px;
}

.footerText ul{
    display: flex;
    gap: 24px;
}

.footerText ul a{
    color: var(--clr-primary);
    font-size: 24px;
}

.footerForm form{
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 28px;
}

.footerForm input{
    width: 461px;
    height: 64px;
    border: 0;
}

.footerForm input::placeholder{
    padding-left: 30px;
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}

.footerForm textarea{
    width: 461px;
    height: 180px;
    border: none;
}

.footerForm textarea::placeholder{
    padding-left: 30px;
    padding-top: 18px;
    font-family: var(--ff-primary);
    font-weight: 400;
    font-size: 16px;
    line-height: 28px;
}
/* Footer CSS Ends */